.user-signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--gray-400);
  border-radius: 5px;
  background-color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--gray-400);
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #2196f3;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #23ffff;
}
