<h2>{{ exam?.title }}</h2>
  <div class="padding">
    <p><strong>Dificultad estimada:</strong> {{ exam?.difficulty }}</p>
    <p><strong>Tiempo estimado:</strong> {{ exam?.time }}</p>
    <p><strong>Total de preguntas:</strong> {{ exam?.questions?.total }}</p>
  </div>

  <div *ngFor="let question of exam?.questions?.items" class="small-container padding-xl">
    <h3>{{ question?.title }}</h3>
    <p><strong>Dificultad estimada:</strong> {{ question?.difficulty }}</p>
    <p><strong>Tiempo estimado:</strong> {{ question?.time }}</p>
    <p><strong>Tipo de pregunta:</strong> {{ question?.type }}</p>

    <h4>Respuestas:</h4>
    <div *ngFor="let answer of question?.answers?.items" class="padding-xs">
      <p><strong>{{ answer.body }}</strong> ({{ answer.points }})</p>
    </div>
  </div>



<div class="row padding-lg">
    <button mat-button color="primary" class="btn btn-primary"  (click)="editExam()">Editar examen</button>
    <button mat-button color="warn" class="btn btn-primary" (click)="deleteExam()">Borrar examen</button>
</div>
