<div *ngIf="!this.loading">
  <h2>{{ exam?.title }}</h2>
    <div class="padding">
      <p><strong>Dificultad estimada media:</strong> {{ exam?.difficulty }}</p>
      <p><strong>Tiempo total estimado:</strong> {{ exam?.time }}</p>
      <p><strong>Total de preguntas:</strong> {{ exam?.questions?.total }}</p>
    </div>

    <div *ngFor="let question of exam?.questions?.items" class="medium-container padding-xl">
      <h4>{{ question?.title }}</h4>
      <p><strong>Dificultad estimada:</strong> {{ question?.difficulty }}</p>
      <p><strong>Tiempo estimado:</strong> {{ question?.time }}</p>
      <p><strong>Tipo de pregunta:</strong> {{ question?.type }}</p>

      <h4>Respuestas:</h4>
      <div *ngFor="let answer of question?.answers?.items" class="padding-xs">
        <div *ngIf="question.type.toUpperCase() !== 'DESARROLLO' && answer.points <= 0 ">
          <p class="error-text"><strong>{{ answer.body }}</strong> ({{ formatPoints(answer.points) }})</p>
        </div>
        <div *ngIf="question.type.toUpperCase() !== 'DESARROLLO' && answer.points > 0  && answer.points < 1">
          <p class="warn-text"><strong>{{ answer.body }}</strong> ({{ formatPoints(answer.points) }})</p>
        </div>
        <div *ngIf="question.type.toUpperCase() !== 'DESARROLLO' && answer.points === 1">
          <p class="success-text"><strong>{{ answer.body }}</strong> ({{ formatPoints(answer.points) }})</p>
        </div>
        <div *ngIf="question.type.toUpperCase() === 'DESARROLLO'">
          <p class="success-text"><strong>{{ answer.body }}</strong></p>
        </div>
      </div>
    </div>




  <div class="row horizontal-center gap-sm padding-lg">
      <button mat-button color="primary" class="btn btn-primary"  (click)="editExam()">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
      <button mat-button color="primary" class="btn btn-primary"  (click)="exportExam()">
        <mat-icon>download</mat-icon>
        Exportar
      </button>
    <div *ngIf="!this.exam?.connected">
      <button mat-button color="primary" class="btn btn-primary" (click)="importResults()">
        <mat-icon>publish</mat-icon>
        Importar resultados
      </button>
    </div>
    <div *ngIf="this.exam?.connected">
      <button mat-button color="warn" class="btn btn-danger" (click)="deleteResults()">
        <mat-icon>delete</mat-icon>
        Borrar resultados
      </button>
    </div>

  </div>

  <div *ngIf="this.exam?.connected">
    <app-result-detail [exam]="exam"></app-result-detail>
  </div>
</div>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
