<div class="padding-sm column">
  <h2 class="center">Eliminar Asignatura</h2>
  <mat-dialog-content>
    <div class="padding-xs">
      <p>
        ¿Confirma que quiere borrar la asignatura de "<strong>{{this.subject.name}}</strong>"? Esta acción no se puede deshacer.
      </p>
    </div>
    <div class="padding-xs">
      <p class="semibold">
        ¡ATENCIÓN! Si continúa, se eliminarán también todos los recursos asociados a la asignatura (jerarquía, preguntas, exámenes...).
      </p>
    </div>
    <div class="row gap-sm">
      <button mat-button type="button" class="text-button" (click)="dialogRef.close()">Cancelar</button>
      <button mat-raised-button color="primary" class="btn btn-danger" (click)="this.deleteSubject()">Borrar</button>
    </div>
  </mat-dialog-content>
</div>
