<div class="padding-lg">
  <h2>Seleccionar Preguntas</h2>
  <!-- Campo de búsqueda de título -->
  <mat-form-field appearance="fill" class="medium-small-form-group">
    <mat-label>Buscar Título de Pregunta</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>

  <div *ngIf="!loading && questionList.length > 0" class="column">
    <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="this.dataSource" class="mat-elevation-z8">
      <!-- Cuerpo de la pregunta -->
      <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Pregunta </th>
        <td mat-cell *matCellDef="let question"> {{question.title}} </td>
      </ng-container>
       <!-- Dificultad de pregunta -->
      <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> Dificultad Estimada </th>
        <td mat-cell *matCellDef="let question"> {{question.difficulty}} </td>
      </ng-container>

      <!-- Tiempo de la pregunta -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Tiempo Estimado </th>
        <td mat-cell *matCellDef="let question"> {{question.time}} </td>
      </ng-container>

      <!-- Tipo de la pregunta -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let question"> {{question.type}} </td>
      </ng-container>

      <!-- Selección -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
        <td mat-cell *matCellDef="let question">
         <mat-checkbox
            [checked]="selection[question.id]"
            (change)="toggleSelection(question.id)"
            [disabled]="!selection[question.id] && selectedCount >= maxQuestions"
            class="custom-checkbox">
          </mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="!loading && questionList.length <= 0" class="gap-lg vertical-center">
    <mat-icon style="font-size: 10rem; width: 10rem; height: 10rem;">search_off</mat-icon>
    <p>No se encontraron preguntas.</p>
    <button mat-button color="primary" class="padding-lg btn btn-primary" (click)="this.dialogRef.close()">
      Cerrar
    </button>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="loading && questionList.length > 0" showFirstLastButtons></mat-paginator>

  <div *ngIf="!loading && questionList.length > 0" class="column">
    <div class="padding-lg">
      <button mat-button color="primary" class="padding-lg btn btn-primary" (click)="this.dialogRef.close()">
        <mat-icon>undo</mat-icon>
        Volver
      </button>
      <button mat-button color="accent" class="padding-lg btn btn-primary" (click)="selectQuestions()">
        <mat-icon>alt_route</mat-icon>
        Seleccionar
      </button>
    </div>
  </div>
</div>
