<div class="column">
  <table mat-table [dataSource]="subjectList" class="mat-elevation-z8">
    <!-- Nombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let subject"> {{subject.name}} </td>
    </ng-container>

    <!-- Número de preguntas -->
    <ng-container matColumnDef="questionNumber">
      <th mat-header-cell *matHeaderCellDef> Número de preguntas </th>
      <td mat-cell *matCellDef="let subject"> {{subject.question_number}} </td>
    </ng-container>

    <!--    TODO: Añadir columna de número de examenes o de número de nodos-->

    <!-- Botones ver asignatura -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let subject">
        <button mat-button color="primary" class="btn btn-primary" (click)="viewSubject(subject.id)">
          Ver Detalles
        </button>
      </td>
    </ng-container>

    <!-- Botones ver listado de preguntas-->
    <ng-container matColumnDef="questions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let subject">
        <button mat-button color="primary" class="btn btn-secondary" (click)="viewQuestionList(subject.id)">
          Ver Preguntas
        </button>
      </td>
    </ng-container>

    <!-- Botones ver exámenes -->
    <ng-container matColumnDef="exams">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let subject">
        <button mat-button color="primary" class="btn btn-secondary" (click)="viewExamList(subject.id)">
         Ver Exámenes
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="padding-lg">
  <button mat-button color="primary" class="padding-lg btn btn-primary" (click)="openAddSubjectModal()">
    Añadir Asignatura
  </button>
  </div>
</div>
