<div>
  <div class="center">
    <h2>Añadir Nodo</h2>
  </div>
  <form [formGroup]="nodeForm" class="form">
    <!--    Nombre -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="nodeForm.get('name')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <!-- Selector del nodo padre -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Padre</mat-label>
      <mat-select formControlName="parent">
        <mat-option *ngFor="let node of nodeList" [value]="node.id">
          {{ node.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="padding-sm column">
      <div class="row gap-sm padding-sm">
        <button mat-button type="button" class="text-button" (click)="dialogRef.close()">Cancelar</button>
        <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="nodeForm.invalid" (click)="submitForm()">
          <mat-icon>add</mat-icon>
          Crear
        </button>
      </div>
    </div>
  </form>
</div>
