<!-- subject-detail.component.html -->
<div class="padding-lg medium-container">
  <h2>Detalles del nodo</h2>

  <div class="padding">
    <p><strong>ID:</strong> {{ node?.id }}</p>
    <p><strong>Nombre:</strong> {{ node?.name }}</p>
    <p *ngIf="node?.parent_id"><strong>Nodo padre:</strong> {{ node?.parent_id }}</p>
  </div>
</div>
<div class="row horizontal-center gap padding-lg">
  <button mat-button color="primary" class="btn btn-primary"  (click)="editNode()"> <mat-icon>edit</mat-icon> Editar</button>
  <button mat-button color="warn" class="btn btn-danger" [disabled]="!this.node?.leaf" (click)="deleteNode()"> <mat-icon>delete</mat-icon> Borrar</button>
</div>
 <app-result-detail></app-result-detail>
