<div>
  <div class="center">
    <h2>Configurar examen</h2>
  </div>
  <form [formGroup]="examForm" class="form">

    <div class="padding">
      <p><strong>Dificultad estimada media:</strong> {{ this.calculateAverageDifficulty() }}</p>
      <p><strong>Tiempo total estimado:</strong> {{ this.calculateTotalTime() }}</p>
      <p><strong>Total de preguntas:</strong> {{ this.questionList.length }}</p>
    </div>

    <!--    Título del examen -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="examForm.get('title')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>




    <!-- Secciones del examen -->
    <div formArrayName="sections" class="form-group">
      <div *ngFor="let question of sectionsControls; let i = index">
        <h3>Sección {{i + 1}}</h3>
        <div [formGroupName]="i">


          <div class="padding">
            <button mat-raised-button type="button" class="btn btn-primary btn-modal" (click)="openExamSection(i)">Seleccionar Preguntas</button>
            <button mat-raised-button type="button" class="btn btn-danger btn-modal" (click)="removeSection(i)">Borrar Sección</button>
          </div>
        </div>
      </div>
    </div>



    <div class="padding-sm column">
      <div class="padding-sm">
        <button mat-raised-button type="button" class="btn btn-primary"(click)="addSection()">Añadir Sección</button>
      </div>
      <div class="padding-sm">
        <button mat-raised-button type="submit" class="btn btn-primary" [disabled]="examForm.invalid" (click)="submitForm()">Crear Examen</button>
      </div>
    </div>
  </form>
</div>
