<div class="small-container">
  <h2>{{ question?.title }}</h2>
  <p><strong>Dificultad estimada:</strong> {{ question?.difficulty }}</p>
  <p><strong>Tiempo estimado:</strong> {{ question?.time }}</p>
  <p><strong>Tipo de preguntas:</strong> {{ question?.type }}</p>

  <h3>Respuestas:</h3>
  <div *ngFor="let answer of question?.answers?.items" class="padding-xs">
    <p><strong>{{ answer.body }}</strong> ({{ answer.points }})</p>
  </div>
</div>

<div class="row horizontal-center gap padding-lg">
    <button mat-button color="primary" class="btn btn-primary"  (click)="editQuestion()">Editar pregunta</button>
    <button mat-button color="warn" class="btn btn-danger" (click)="deleteQuestion()">Borrar pregunta</button>
  </div>
