<div *ngIf="!loading">
  <div class="small-container">
    <h2>{{ question?.title }}</h2>
    <p><strong>Dificultad estimada:</strong> {{ question?.difficulty }}</p>
    <p><strong>Tiempo estimado:</strong> {{ question?.time }}</p>
    <p><strong>Tipo de pregunta:</strong> {{ question?.type }}</p>
    <div class="row">
      <p><strong>Estado: </strong></p>
      <p *ngIf="question?.active" class="success-text"><strong>Activada</strong></p>
      <p *ngIf="!question?.active" class="error-text"><strong>Desactivada</strong></p>
    </div>
    <div *ngIf="question?.type?.toUpperCase() === 'TEST'">
      <h3>Respuestas:</h3>
      <div *ngFor="let answer of question?.answers?.items" class="padding-xs">
        <div *ngIf="answer.points < 0 ">
          <p class="error-text"><strong>{{ answer.body }}</strong> ({{ formatPoints(answer.points) }})</p>
        </div>
        <div *ngIf="answer.points >= 0  && answer.points < 1">
          <p class="error-text"><strong>{{ answer.body }}</strong> ({{ formatPoints(answer.points) }})</p>
        </div>
        <div *ngIf="answer.points === 1">
          <p class="success-text"><strong>{{ answer.body }}</strong> ({{ formatPoints(answer.points) }})</p>
        </div>
      </div>
    </div>

    <div *ngIf="question?.type?.toUpperCase() === 'DESARROLLO'">
      <h3> Ejemplos de respuestas correctas:</h3>
      <div *ngFor="let answer of question?.answers?.items" class="padding-xs">
        <p class="semibold success-text">{{ answer.body }}</p>
      </div>
    </div>

    <div *ngIf="this.parameterNumber > 0">
      <h3>Grupos de parámetros:</h3>
      <div *ngFor="let questionParameter of question?.question_parameters?.items; let i = index" class="padding-xs">
        <div *ngIf="questionParameter.position == 1">
          <p><strong> Grupo {{ questionParameter.group }}:</strong></p>
        </div>
        <div>
          <p><strong>param{{ questionParameter.position }}</strong>: {{ questionParameter.value }}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="question?.active && !question?.connected" class="row horizontal-center gap padding-lg">
    <button mat-button color="primary" class="btn btn-primary"  (click)="editQuestion()">Editar pregunta</button>
    <button mat-button color="warn" class="btn btn-danger" (click)="deleteQuestion()">Borrar pregunta</button>
  </div>
  <div *ngIf="question?.active && question?.connected" class="row horizontal-center gap padding-lg">
    <button mat-button color="warn" class="btn btn-danger" (click)="disableQuestion()">Desactivar pregunta</button>
  </div>
</div>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
