<div>
  <div class="center">
    <h2>Editar Nodo</h2>
  </div>
  <form [formGroup]="nodeForm" class="form">
    <!--    Nombre -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="nodeForm.get('name')?.hasError('required')">
        Este campo es requerido
      </mat-error>
    </mat-form-field>

    <!-- Selector del nodo padre -->
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Padre</mat-label>
      <mat-select formControlName="parent">
        <mat-option *ngFor="let node of nodeList.items" [value]="node.id">
          {{ node.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="padding-sm column">
      <div class="padding-sm">
        <button type="submit" class="btn" [disabled]="nodeForm.invalid" (click)="submitForm()">Editar Nodo</button>
      </div>
    </div>
  </form>
</div>
