<!-- subject-detail.component.html -->
<div class="padding-lg medium-container">
  <h2>Detalles de la asignatura</h2>

  <div class="padding">
    <p><strong>ID:</strong> {{ subject?.id }}</p>
    <p><strong>Nombre:</strong> {{ subject?.name }}</p>
    <p *ngIf="subject?.question_number"><strong>Número de preguntas:</strong> {{ subject?.question_number }}</p>
  </div>


</div>
<div class="row horizontal-center padding gap">
  <button mat-button color="primary" class="btn btn-primary"  (click)="editSubject()"> <mat-icon>edit</mat-icon> Editar</button>
  <button mat-button color="primary" class="btn btn-primary"  (click)="viewNodeList()"> <mat-icon>share</mat-icon> Jerarquía</button>
  <button mat-button color="primary" class="btn btn-primary" (click)="viewQuestionList()"> <mat-icon>question_mark</mat-icon> Preguntas</button>
  <button mat-button color="accent" class="btn btn-primary" (click)="viewExamList()"> <mat-icon>description</mat-icon> Exámenes</button>
  <button mat-button color="warn" class="btn btn-danger" (click)="deleteSubject()"> <mat-icon>delete</mat-icon> Borrar</button>
</div>
