<div class="padding-sm column">
  <h2 class="center">Exportar Examen</h2>
  <mat-dialog-content>
    <div class="padding-xs">
      <p>
        Se creará un archivo y se guardará en este dispositivo.
      </p>
      <mat-form-field>
        <mat-label>Formato</mat-label>
        <mat-select [(value)]="selectedFormat">
          <mat-option value="PDF">PDF</mat-option>
          <mat-option value="Aiken">Aiken</mat-option>
          <mat-option value="GIFT">GIFT</mat-option>
          <mat-option value="MoodleXML">MoodleXML</mat-option>
          <mat-option value="ODT">ODT</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selectedFormat === 'Aiken'" class="padding-sm black">
      <p><strong>Advertencia.</strong> Sólo se exportarán las preguntas de tipo test.</p>
    </div>
    <div class="row gap-sm padding-sm">

      <button mat-button type="button" class="text-button" (click)="dialogRef.close()">Cancelar</button>
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="this.exportExam()">
        <mat-icon>download</mat-icon>
        Exportar
      </button>
    </div>
  </mat-dialog-content>
</div>
