<div class="padding-sm column">
  <h2 class="center">Exportar Examen</h2>
  <mat-dialog-content>
    <div class="padding-xs">
      <p>
        Se creará un archivo   y se guardará en este dispositivo.
      </p>
    </div>
    <div class="row gap-sm padding-sm">
      <button mat-button type="button" class="text-button" (click)="dialogRef.close()">Cancelar</button>
      <button mat-raised-button color="primary" class="btn btn-accent" (click)="this.exportExam()">Exportar</button>
    </div>
  </mat-dialog-content>
</div>
