<div class="column">
  <p-tree [value]="nodeList" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="nodeSelected($event)">
    <ng-template let-node pTemplate="default">
      <div class="node-container" [style.marginLeft.em]="calculateMarginLeft(node)">
        <span class="node-label">{{node.name}}</span>
        <div class="node-buttons">
          <button mat-button color="primary" class="btn btn-primary" (click)="viewNode(node.id)">
            Ver Nodo
          </button>
          <button mat-button color="primary" class="btn btn-secondary" (click)="openAddQuestionModal(node.id)">
            Añadir Pregunta
          </button>
          <button mat-button color="primary" class="btn btn-accent" (click)="openAddNodeModal(node.id)">
            Añadir hijo
          </button>
        </div>
      </div>
    </ng-template>
  </p-tree>
</div>
