.node-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em;
  margin-left: 20px;
}


.node-label {
  font-size: 0.5em;
  padding: 0.25rem;
}

.node-buttons {
  display: flex;
  gap: 0.5em;
}
