<div *ngIf="!loading && this.nodeList.length > 0" class="column">
  <p-tree [value]="nodeTree" selectionMode="single" [(selection)]="selectedNode" (onNodeExpand)="onNodeExpand($event)" (onNodeCollapse)="onNodeCollapse($event)">
    <ng-template let-node pTemplate="default">
      <div class="node-container" [style.marginLeft.em]="calculateMarginLeft(node)">
        <span class="node-label" [style.background]="calculateNodeBackground(node)">{{node.name}}</span>
        <div class="node-buttons">
          <button mat-icon-button color="primary" class="btn btn-primary" (click)="viewNode(node.id)">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <button mat-icon-button color="primary" class="btn btn-primary" (click)="openAddQuestionModal(node.id)">
            <mat-icon>question_mark</mat-icon>
          </button>
          <button mat-icon-button color="primary" class="btn btn-primary" (click)="openAddNodeModal(node.id)">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
      </div>
    </ng-template>
</p-tree>
  <div class="row">
    <div class="padding-xs">
      <button mat-button color="primary" class="padding-lg btn btn-primary" (click)="openAddNodeModal()">
        <mat-icon>add</mat-icon>
        Añadir
      </button>
    </div>

    <div class="padding-xs">
      <button mat-button color="primary" class="padding-lg btn btn-secondary" (click)="viewSubject()">
        <mat-icon>undo</mat-icon>
        Volver
      </button>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!loading && this.nodeList.length <= 0" class="gap-lg vertical-center">
  <mat-icon style="font-size: 10rem; width: 10rem; height: 10rem;">search_off</mat-icon>
  <p>No se encontraron nodos.</p>
  <button mat-button color="primary" class="padding-lg btn btn-primary" (click)="openAddNodeModal()">
    <mat-icon>add</mat-icon>
    Añadir
  </button>
</div>
