@import './../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* -----PALETTES----- */
/* Paleta de colores básica */
.blue-palette-50 { color: #e3f2fd; }
.blue-palette-100 { color: #bbdefb; }
.blue-palette-200 { color: #90caf9; }
.blue-palette-300 { color: #64b5f6; }
.blue-palette-400 { color: #42a5f5; }
.blue-palette-500 { color: #2196f3; } /* Color principal */
.blue-palette-600 { color: #1e88e5; }
.blue-palette-700 { color: #1976d2; }
.blue-palette-800 { color: #1565c0; }
.blue-palette-900 { color: #0d47a1; }

/* Paleta de colores verdes */
.green-palette-50 { color: #e8f5e9; }
.green-palette-100 { color: #c8e6c9; }
.green-palette-200 { color: #a5d6a7; }
.green-palette-300 { color: #81c784; }
.green-palette-400 { color: #66bb6a; }
.green-palette-500 { color: #4caf50; } /* Color principal */
.green-palette-600 { color: #43a047; }
.green-palette-700 { color: #388e3c; }
.green-palette-800 { color: #2e7d32; }
.green-palette-900 { color: #1b5e20; }

/* Paleta de colores amarillos */
.yellow-palette-50 { color: #fffde7; }
.yellow-palette-100 { color: #fff9c4; }
.yellow-palette-200 { color: #fff59d; }
.yellow-palette-300 { color: #fff176; }
.yellow-palette-400 { color: #ffee58; }
.yellow-palette-500 { color: #ffeb3b; } /* Color principal */
.yellow-palette-600 { color: #fdd835; }
.yellow-palette-700 { color: #fbc02d; }
.yellow-palette-800 { color: #f9a825; }
.yellow-palette-900 { color: #f57f17; }

/* Paleta de colores rojos */
.red-palette-50 { color: #ffebee; }
.red-palette-100 { color: #ffcdd2; }
.red-palette-200 { color: #ef9a9a; }
.red-palette-300 { color: #e57373; }
.red-palette-400 { color: #ef5350; }
.red-palette-500 { color: #f44336; } /* Color principal */
.red-palette-600 { color: #e53935; }
.red-palette-700 { color: #d32f2f; }
.red-palette-800 { color: #c62828; }
.red-palette-900 { color: #b71c1c; }


.black { color: #000000; }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    line-height: 100%;
    letter-spacing: -0.125rem;
    padding: 1.5rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: #000000;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  span {
    font-size: 1.5em;
    color: var(--gray-900);
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  /* Estilos para encabezados */
h2 {
  font-size: 1.5em;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

h3 {
  font-size: 1.2em;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

h4 {
  font-size: 1.1em;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

h5 {
  font-size: 1em;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

/* gap */

.gap-xs {
  gap: 0.25em;
}

.gap-sm {
  gap: 0.5em;
}

.gap {
  gap: 1em;
}

.gap-lg {
  gap: 1em;
}

.gap-xl {
  gap: 2em;
}

/* padding */

.padding-xs {
  padding: 0.25em;
}

.padding-sm {
  padding: 0.5em;
}

.padding {
  padding: 1em;
}

.padding-lg {
  padding: 2em;
}

.padding-xl {
  padding: 5em;
}

/* content allignment */

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  text-align: center;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.horizontal-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Containers*/

.small-container {
  max-width: 25rem;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.medium-container {
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.content-border-radius {
  border-radius: 1em;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

/* Text weight */
.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 500;
}

.bold-sm {
  font-weight: 500;
}

/*   Text colours   */
.success-text {
  color: #4caf50;
}

.warn-text {
  color: #fed766;
}

.error-text {
  color: #ee6c4d;
}

/*Form Styles*/
.form {
  max-width: 25rem;
  margin: 0 auto;
  padding: 1.25rem;
  border: 6rem solid var(--gray-400);
  border-radius: 0.3rem;
  background-color: #ffffff;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border: 0.063rem solid var(--gray-400);
  border-radius: 0.3rem;
}

 /*  Buttons  */

.btn {
  font-size: 1rem;
  border: none;
  background-color: #eeeeee !important;
  border-radius: 1.5rem !important;
  cursor: pointer;
  width: auto;
  max-width: 15rem;
  letter-spacing: -0.025rem !important;
  white-space: nowrap;
  height: auto;
}

.btn-primary {
  background-color: #3d5a80 !important;
  color: #ffffff !important;
}

.btn-primary:hover {
  background-color: #98c1d9  !important;
}

.btn-primary:disabled {
  background-color: #c8f1f9  !important;
}

.btn-secondary {
  background-color: #2a9d8f !important;
  color: #ffffff !important;
}

.btn-secondary:hover {
  background-color: #7aeddf !important;
}

.btn-accent {
  background-color: #e9c46a !important;
  color: #ffffff !important;
}

.btn-accent:hover {
  background-color: #99741a  !important;
}

.btn-danger {
  background-color: #ee6c4d !important;
  color: #ffffff !important;
}

.btn-danger:hover {
  background-color: #9e1c0d  !important;
}

.text-button {
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem !important;
  cursor: pointer;
  width: auto;
  letter-spacing: -0.025rem !important;
  white-space: nowrap;
  height: auto;
}

/*   Tables   *//* Estilos para tablas */
/* Estilos para tablas */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 10px; /* Ajusta el valor según tu preferencia */
  overflow: hidden;
}

tr {
  transition: background-color 0.3s;
  margin-bottom: 10px; /* Espacio entre las filas */
}

tr:first-child {
  background-color: #ee6c4d; /* Color de la primera fila */
  font-weight: bold; /* Hace que el texto de la primera fila sea negrita */
}

tr:not(:first-child) {
  background-color: #ffffff; /* Color de las filas que no son la primera */
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Cambia el color de fondo al pasar el ratón */
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Borde inferior para cada fila */
}

th:first-child, td:first-child {
  border-top-left-radius: 10px; /* Redondez en la esquina superior izquierda */
  border-bottom-left-radius: 10px; /* Redondez en la esquina inferior izquierda */
}

th:last-child, td:last-child {
  border-top-right-radius: 10px; /* Redondez en la esquina superior derecha */
  border-bottom-right-radius: 10px; /* Redondez en la esquina inferior derecha */
}


/*   Snackbar   */
.snackbar-success {
  background-color: #43a047; /* Color de fondo para mensajes de éxito */
  color: #fff; /* Color del texto */
}

.snackbar-error {
  background-color: #d32f2f; /* Color de fondo para mensajes de error */
  color: #fff; /* Color del texto */
}

.snackbar-warning {
  background-color: #ffa000; /* Color de fondo para mensajes de advertencia */
  color: #fff; /* Color del texto */
}


/*
color palette:
#3d5a80 (primary buttons)
#fed766 (secondary buttons)
#2a9d8f (accent buttons)
#98c1d9 (hovered buttons)
#e0fbfc
#ee6c4d (heading)
#293241
*/
