<div *ngIf="!loading && questionList.length > 0" class="column">
  <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">
    <!-- Cuerpo de la pregunta -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Pregunta </th>
      <td mat-cell *matCellDef="let question"> {{question.title}} </td>
    </ng-container>

    <!-- Dificultad de pregunta -->
    <ng-container matColumnDef="difficulty">
      <th mat-header-cell *matHeaderCellDef> Dificultad Estimada </th>
      <td mat-cell *matCellDef="let question"> {{question.difficulty}} </td>
    </ng-container>

    <!-- Tiempo de la pregunta -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Tiempo Estimado </th>
      <td mat-cell *matCellDef="let question"> {{question.time}} </td>
    </ng-container>

    <!-- Tipo de la pregunta -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let question"> {{question.type}} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let question">
        <div class="padding-xs">
          <button mat-icon-button color="primary" class="btn btn-primary" (click)="viewQuestion(question.id)">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!loading && questionList.length <= 0" class="gap-lg vertical-center">
  <mat-icon style="font-size: 10rem; width: 10rem; height: 10rem;">search_off</mat-icon>
  <p>No se encontraron preguntas.</p>
  <button mat-button color="primary" class="padding-lg btn btn-primary" (click)="addQuestion()">
   <mat-icon>add</mat-icon>
    Añadir
  </button>
  <button mat-button color="secondary" class="padding-lg btn btn-primary" (click)="viewSubject(this.id)">
    <mat-icon>undo</mat-icon>
    Volver
  </button>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="loading && questionList.length > 0" showFirstLastButtons></mat-paginator>

<div *ngIf="!loading && questionList.length > 0" class="column">
  <div class="row">
    <div class="padding-xs">
      <button mat-button color="primary" class="padding-lg btn btn-primary" (click)="addQuestion()">
       <mat-icon>add</mat-icon>
        Añadir
      </button>
    </div>
    <div class="padding-xs">
    </div>
    <div class="padding-xs">
      <button mat-button color="secondary" class="padding-lg btn btn-primary" (click)="viewSubject(this.id)">
        <mat-icon>undo</mat-icon>
        Volver
      </button>
    </div>
  </div>
</div>




